<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="icon" href="http://getbootstrap.com/favicon.ico">

  <title>Interactive Kanban: an integrated approach</title>

  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"> <!--article css-->
  <link href="welcome/welcome.css" rel="stylesheet"> <!--task board css-->
  <link href="overall.css" rel="stylesheet"> <!-- nav css -->

</head>

<body ng-controller="WelcomeCtrl">

  <div class="app-masthead">
    <div class="container">
      <nav class="app-nav">
        <a class="app-nav-item active" href="#/welcome">Home</a>
        <a class="app-nav-item " href="#/addTicket">Add Ticket</a>
        <a class="app-nav-item " href="#/story">User Story</a>
        <a class="app-nav-item " href="#/archive">Archive</a>
        <a class="app-nav-item">Welcome {{username}}</a>
      </nav>
    </div>
  </div>

  <div class="container">
    <br>
    <div id="inProgress" class="status">
      <legend> In Progress </legend>
        <div class="list-group" ng-repeat="article in inProgress">
          <a href="#/ticketPage" ng-click="setId(article.$id)" class="list-group-item active">
            <table class="tickettable" class="mainTable">

              <tr>
                <th colspan="4"><h4 class="list-group-item-heading">{{article.title}}</h4></td>
              </tr>

              <tr>
                <td>Type: </td>
                <td><p class="list-group-item-text"> {{article.type}}</p></td>
                <td>Priority: </td>
                <td  id="noneright"><p class="list-group-item-text">{{article.priority}}</p></td>
              </tr>

              <tr>
                <td>Dificulty: </td>
                <td><p class="list-group-item-text">{{article.dificulty}}</p></td>
                <td>Due Date: </td>
                <td id="noneright"><p class="list-group-item-text">{{article.due}}</p></td>
              </tr>

              <tr>
                <td colspan="4" id="noneright" class="assign">Assigned To: <i>{{article.assign}}</i></td>
              </tr>
            </table>
          </a>
        </div>
      </div>

      <div id="codeReview" class="status">
        <legend> Code Review </legend>
        <div class="list-group" ng-repeat="article in codeReview">
          <a href="#/ticketPage" ng-click="setId(article.$id)" class="list-group-item active">
            <table class="tickettable" class="mainTable">

              <tr>
                <th colspan="4"><h4 class="list-group-item-heading">{{article.title}}</h4></td>
              </tr>

              <tr>
                <td>Type: </td>
                <td><p class="list-group-item-text"> {{article.type}}</p></td>
                <td>Priority: </td>
                <td  id="noneright"><p class="list-group-item-text">{{article.priority}}</p></td>
              </tr>

              <tr>
                <td>Dificulty: </td>
                <td><p class="list-group-item-text">{{article.dificulty}}</p></td>
                <td>Due Date: </td>
                <td id="noneright"><p class="list-group-item-text">{{article.due}}</p></td>
              </tr>
              <tr>
                <td colspan="4" id="noneright" class="assign">Assigned To: <i>{{article.assign}}</i></td>
              </tr>
            </table>
          </a>
        </div>
      </div>

      <div id="done" class="status">
        <legend> Done </legend>
        <div class="list-group" ng-repeat="article in done">
          <a href="#/ticketPage" ng-click="setId(article.$id)" class="list-group-item active">
            <table class="tickettable" class="mainTable">

              <tr>
                <th colspan="4"><h4 class="list-group-item-heading">{{article.title}}</h4></td>
              </tr>

              <tr>
                <td>Type: </td>
                <td><p class="list-group-item-text"> {{article.type}}</p></td>
                <td>Priority: </td>
                <td  id="noneright"><p class="list-group-item-text">{{article.priority}}</p></td>
              </tr>

              <tr>
                <td>Dificulty: </td>
                <td><p class="list-group-item-text">{{article.dificulty}}</p></td>
                <td>Due Date: </td>
                <td id="noneright"><p class="list-group-item-text">{{article.due}}</p></td>
              </tr>
              <tr>
                <td colspan="4" id="noneright" class="assign">Assigned To: <i>{{article.assign}}</i></td>
              </tr>
            </table>
          </a>
        </div>
      </div>
    </div>


</body></html>
